main {
    font: normal 16pt Arial;
    width: 250px;
    margin: auto;
    padding: 30px;
    background-color: black;
    color: white;
    box-shadow: 3px 3px 3px black;
}

input#n2{
    margin-top: 20px;
}

h1.título {
    color: red;
}

div#res {
    margin-top: 20px;
}